@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
 body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
    color: #575757;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
th,
td {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.btn {
    font-weight: 300;
}
.container {
    padding: 0;
    margin: 0;
    width: 100%
}
.navbar,
.navbar-default {
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 1px rgba(92, 92, 92, 0.30);
}
.navbar-img {
    width: 70px;
}
.navbar-default,
.navbar-nav>li>a {
    color: #50A633!important;
}
.navbar-nav>li>a:hover {
    background-color: #efefef!important;
}
.navbar-brand {
    background-image: url(../img/navbar-brand.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-title {
    font-size: 1.8em;
    margin: 0 auto;
    line-height: 2;
    padding-left: 5px;
    color: #1f1f1f;
    font-weight: 300;
}
.lead {
    max-width: 700px;
    margin: 0 auto;
}
.horizontal-container {
    width: 100%;
    color: #fff;
    padding: 2%;
    text-align: center;
    font-weight: 300
}
.dark {
    background-color: #1e1e21;
}
.light {
    background-color: #ededed;
    color: #333;
}
.blue {
    background-color: #4274b3;
    color: #fff;
}
.white {
    background-color: #fff;
    color: #333;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-top: 40px;
}
.title {
    padding: 10px
}
.collaborator {
    text-align: center;
    margin-bottom: 30px
}
hr {
    height: 1px;
    background-color: #90d07b;
    border: 0;
}
.custom-link {
    color: #50A633;
}
.custom-link:hover {
    color: #73c756;
    text-decoration: none;
}
.intro {
    margin-top: -146.5px;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}
.pg-canvas {
    position: absolute;
    z-index: -10;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.logo {
    width: 115px;
    height: 115px;
    background-color: #fff;
    border-radius: 100px;
    border: 5px solid #fff;
}
.services-summary {
    list-style-type: none;
    text-align: left;
    max-width: 650px;
    margin: 0 auto;
}
button.navbar-toggle {
    background-color: #449d44;
    border: 0
}
.navbar-toggle:hover {
    background-color: #5fcc5f!important
}
.navbar-toggle:focus {
    background-color: #54ba54!important
}
.white {
    background-color: #fff!important;
}
.green {
    background-color: #50A633;
    color: #fff
}
.gtbimap {
    width: 100%;
    height: 450px;
    border: 0;
}
.overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 450px;
    /* your iframe height */
    top: 450px;
    /* your iframe height */
    margin-top: -450px;
    /* your iframe height */
}
.paperbtn {
    z-index: 10;
    background-color: #75ce66;
    font-size: 1.3em;
    border-radius: 100%;
    padding: 20px 23px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 5px 1px rgba(69, 69, 69, 0.45);
}

.paperbtn:hover{
    background-color: #87de78;
    color: #fff
}

.paperbtn:focus{
    background-color: #75ce66;
    color: #fff
}

.mail{
    font-size: 0.9em;
}

.ptext {
    font-size: 1.4em;
    color:#333;
    text-align: left
}

.dark-gray-text{
    color: #333;
}

.incubatee-logo {
    width: 400px;
    padding: 10px;
}

.incubatee-desc {
    font-size: 1em;
    padding: 20px;
}

video {
    max-width: 400px;
}

img.blog-img {
  border: 4px solid #fff;
  border-radius: 5px;
}

.telephone {
  font-size: 1.4em;
  color: #337AB7
}
